<a href={Astro.site || 'http://localhost:4321'}>
  <h1>Mel's Blog</h1>
</a>
<div class="flex flex-row-reverse gap-2 mb-4">
  <a type="application/atom+xml" href="/feed/atom"
    ><img title="Atom feed" width="32" height="32" src="/atom_icon.webp" /></a
  >
  <a type="application/rss+xml" href="/feed/rss"
    ><img title="RSS 2.0 feed" width="32" height="32" src="/rss_icon.webp" /></a
  >
</div>
<style lang="postcss">
  h1 {
    @apply text-5xl mb-16 underline text-center
  }
</style>
