---
import type { HyperlinkBlock } from '../../interfaces/rich_content';
import TextBlockElement from './TextBlockElement.astro';
interface Props {
  block: HyperlinkBlock;
}

const { block } = Astro.props;
---

<a href={block.url}>{block.children.map((child) => <TextBlockElement block={child} />)}</a>

<style lang="postcss">
  a {
    @apply font-medium text-blue-500  hover:underline
  }
</style>
