---
import type { ImageBlock } from '../../interfaces/rich_content';
import ResponsiveImage from '../ResponsiveImage.astro';
interface Props {
  block: ImageBlock;
}

const { block } = Astro.props;
---

<div class="my-2">
  <ResponsiveImage image={block.image} />
</div>
