---
import type { ListBlock, TextBlock } from '../../interfaces/rich_content';
import TextBlockElement from './TextBlockElement.astro';
interface Props {
  block: ListBlock;
}
const { block } = Astro.props;
const Element = block.format === 'ordered' ? 'ol' : 'ul';
const classes = (block.format === 'ordered' ? 'list-decimal' : 'list-disc') + ' ml-8 mb-2';
---

<Element class:list={classes}>
  {
    block.children.map((listItem) => (
      <li>
        {listItem.children.map((child) => (
          <TextBlockElement block={child as TextBlock} />
        ))}
      </li>
    ))
  }
</Element>
