---
import type { ParagraphBlock } from '../../interfaces/rich_content';
import HyperlinkElement from './HyperlinkElement.astro';
import TextBlockElement from './TextBlockElement.astro';
interface Props {
  block: ParagraphBlock;
}
const { block } = Astro.props;
---

<p class="mt-4">
  {
    block.children.map((child) => {
      if (child.type === 'link') {
        return <HyperlinkElement block={child} />;
      } else {
        return <TextBlockElement block={child} />;
      }
    })
  }
</p>
