---
import '@fontsource/montserrat';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content="Mel's Blog is about computer science and games." />
    <meta name="robots" content="noai, noimageai, follow, index" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="computer science, computer games, blog" />
    <title>{title}</title>
  </head>
  <body class="px-2">
    <main class="flex justify-center w-full mt-16">
      <div class="max-w-5xl w-full">
        <slot />
      </div>
    </main>
    <footer class="mt-8 flex flex-col gap-2 justify-center items-center w-full">
      <p>by <strong>Kilian Gärtner</strong> with Astro&Strapi</p>
      <div class="flex gap-4">
        <a class="underline" href="https://kilian-gaertner.dev">My Website</a>
        <a class="underline" href="https://github.com/Meldanor">GitHub</a>
      </div>
    </footer>
  </body>
</html>
