---
import fetchApi from '../lib/strapi';
import type Post from '../interfaces/post';

const posts = await fetchApi<Post[]>({
  endpoint: 'posts?populate=mainImage', // the content type to fetch
  wrappedByKey: 'data' // the key to unwrap the response
});
---

<!doctype html>
<html lang="en">
  <head>
    <title>Strapi & Astro</title>
  </head>

  <body>
    <main>
      <ul>
        {
          posts.map((post: Post) => (
            <a href={`/blog/${post.attributes.slug}/`}>{post.attributes.title}</a>
          ))
        }
      </ul>
    </main>
  </body>
</html>
