<!DOCTYPE html>
<html lang="en">

<head>
    {% set meta_title = config.title %}
    {% set meta_description = config.description %}

    {% if page %}
    {% set meta_title = page.title ~ ' - ' ~ config.title %}
    {% set meta_description = page.extra.summary %}
    {% endif %}

    <title>{{ meta_title }}</title>

    <!-- Meta Tags -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="{{ meta_title }}" />
    <meta name="description" content="{{ meta_description }}" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{get_url(path='icons/favicon-16x16.png',
                                            cachebust=true)}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Open Graph Protocol -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ current_url }}" />
    <meta property="og:title" content="{{ meta_title }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta property="og:image" content="{{get_url(path='icons/og_image.webp',cachebust=true)}}" />

    <link href="{{get_url(path='styles/main.css',cachebust=true)}}" rel="stylesheet" type="text/css" />

    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml', trailing_slash=false)
        }}">
    {% endblock %}

    {% block atom %}
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path='atom.xml',
        trailing_slash=false) }}">
    {% endblock %}
</head>

<body class="grid py-4 mx-auto prose lg:prose-lg xl:prose-xl min-h-screen" style="grid-template-rows: auto 1fr auto">
    <header>
        <a href="/">
            <h1 class="text-center !mb-4">Mel's Meinungen</h1>
        </a>
        <div class="not-prose flex flex-row-reverse gap-2 px-4">
            <a class="flex h-6 lg:h-8" href="{{ get_url(path='rss.xml', trailing_slash=false) }}">
                <img height="32" width="32" alt="RSS Feed" src="{{ get_url(path='icons/rss_icon.webp' )}}">
            </a>
            <a class="flex h-6 lg:h-8" href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
                <img height="32" width="32" alt="Atom Feed" src="{{ get_url(path='icons/atom_icon.webp' )}}">
            </a>
        </div>
    </header>
    <main class="flex-1 p-4">
        <section>
            {% block content %} {% endblock %}
        </section>
    </main>
    <footer class="text-center">
        by <strong>Kilian Gärtner</strong> with Zola&Tailwind - <a
            href="https://github.com/Meldanor/MyBlog">Repository</a>

    </footer>
</body>

</html>
