<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Blog by Mel</title>

    <!-- Stylesheets -->
    <link href="{{get_url(path='styles/main.css',cachebust=true)}}" rel="stylesheet" type="text/css" />
</head>

<body class="grid py-4 mx-auto prose xl:prose-xl min-h-screen" style="grid-template-rows: auto 1fr auto">
    <header class="bg-blue-500">
        <h1 class="title text-center">Mel's Meinungen</h1>
    </header>
    <main class="flex-1 p-4 bg-green-500">
        <section>
            <div>{% block content %} {% endblock %}</div>
        </section>
    </main>
    <footer class="text-center bg-red-500">
        by <strong>Kilian Gärtner</strong> with Zola&Tailwind
    </footer>
</body>

</html>
