---
import fetchApi from '../../lib/strapi';
import type Post from '../../interfaces/post';
import { Markdown } from '@astropub/md';

export async function getStaticPaths() {
  const posts = await fetchApi<Post[]>({
    endpoint: 'posts?populate=mainImage',
    wrappedByKey: 'data'
  });

  return posts.map((post) => ({
    params: { slug: post.attributes.slug },
    props: post
  }));
}
type Props = Post;

const post = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{post.attributes.title}</title>
  </head>

  <body>
    <main>
      <img src={import.meta.env.STRAPI_URL + post.attributes.mainImage.data.attributes.url} />

      <h1>{post.attributes.title}</h1>

      <!-- Render plain text -->
      <Markdown of={post.attributes.content} />
    </main>
  </body>
</html>
